<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>moc</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>주변 마트를 찾고 같이 장보기 기능을 위해 위치 정보가 필요합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>영수증 촬영 및 프로필 사진 등록을 위해 카메라 접근이 필요합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>음성 인식을 통한 레시피 검색을 위해 마이크 접근이 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>프로필 사진 등록 및 영수증 이미지 선택을 위해 사진 라이브러리 접근이 필요합니다.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.YOUR_GOOGLE_IOS_CLIENT_ID</string>
			</array>
			<key>CFBundleURLName</key>
			<string>google</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb792782273821780</string>
			</array>
			<key>CFBundleURLName</key>
			<string>facebook</string>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>792782273821780</string>
	<key>FacebookClientToken</key>
	<string>f6992e15a9557ef1e82862613b88ca50</string>
	<key>FacebookDisplayName</key>
	<string>MOC</string>
	<key>NMFClientId</key>
	<string>28n51run07</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansKR-Black.ttf</string>
		<string>NotoSansKR-Bold.ttf</string>
		<string>NotoSansKR-ExtraBold.ttf</string>
		<string>NotoSansKR-ExtraLight.ttf</string>
		<string>NotoSansKR-Light.ttf</string>
		<string>NotoSansKR-Medium.ttf</string>
		<string>NotoSansKR-Regular.ttf</string>
		<string>NotoSansKR-SemiBold.ttf</string>
		<string>NotoSansKR-Thin.ttf</string>
	</array>
</dict>
</plist>
